<div id="<%= dom_id menu %>">
  <p class="lead">
    <strong class="font-weight-bold">Title:</strong>
    <%= menu.title %>
  </p>

  <p class="lead">
    <strong class="font-weight-bold">Ingredients:</strong>
    <%= menu.body %>
  </p>

  <p class="lead">
    <strong class="font-weight-bold">Price:</strong>
    <span>€</span><%= menu.price %>
  </p>
<hr class="my-4">
</div>
